@use "/src/styles/abstracts" as ab;
.container {
    display: flex;
    flex-direction: column;

    gap: clamp(1em, 2em, 2em);

    @include ab.services {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
            "heading heading carousel carousel carousel"
            "heading heading carousel carousel carousel"
            "button button  carousel carousel carousel"
            "button button  carousel carousel carousel";
    }

    .button {
        grid-area: button;
        display: flex;
        gap: 0.8em;

        button {
            display: flex;
            align-items: center;
            border: 0.1em solid var(--red);
            border-radius: 0.5em;
            font-size: clamp(0.75rem, 1.5rem, 1.5rem);
            padding-inline: clamp(0.8em, 1em, 1em);
            cursor: pointer;
            height: clamp(1em, 1.8em, 1.8em);

            background-color: var(--white);
            transition: all 200ms ease-in-out;
            &:hover {
                background-color: var(--red);
                color: white;
            }
            i {
                width: 10em;
            }
        }
    }

    .heading {
        grid-area: heading;
        display: flex;
        justify-content: center;
        h2 {
            text-align: center;
            @include ab.services {
                text-align: left;
                align-self: end;
            }
        }
    }
    .carousel {
        mask-image: linear-gradient(
            to right,
            transparent,
            black 10% 90%,
            transparent
        );
        scroll-snap-type: inline mandatory;
        scroll-behavior: smooth;
        transition: scroll-left 0.5s ease-in-out;
        grid-area: carousel;
        display: grid;
        grid-template-columns: repeat(3, 100%);

        gap: clamp(1em, 2em, 2em);
        overflow-x: scroll;
        scrollbar-width: none;
        padding: clamp(0.5em, 1em, 1em);

        .item {
            min-width: 100%;

            // outline: 2px solid red;
            border-radius: 1em;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            padding-inline: 0.75em;
            padding-block: clamp(0.8em, 1.5em, 1.5em);
            display: flex;
            flex-direction: column;
            gap: clamp(0.8em, 1em, 1em);
            align-items: center;
            .name {
                p {
                    font-size: clamp(0.75rem, 1rem, 1rem);
                    font-weight: 500;
                    span {
                        font-weight: 600;
                        font-size: clamp(1rem, 1.5rem, 1.5rem);
                    }
                }
            }

            .para {
                p {
                    font-weight: 500;
                    font-size: clamp(0.75rem, 1rem, 1rem);
                }
                display: flex;
                gap: 0.5em;
                .close {
                    // outline: 2px solid red;
                    display: flex;
                    align-items: flex-end;
                }
                img {
                    width: clamp(5em, 8em, 8em);
                }
            }
            div {
                text-align: center;
            }
        }
    }
}
