@use "./abstracts" as ab;
@use "./abstracts/reset";

:root {
	--white: #ffffff;
	--black: #000000;
	--red: #b20000;
	--pink: #e09999;

	--text: var(--black);

	--accent-primary: var(--red);
	--accent-primary-hover: hsl(0, 100%, 40%);
	--accent-primary-active: hsl(0, 100%, 25%);

	--max-width: 78rem;
	--max-width-wide: 90rem;

	--linkedin: #0077b5;
	--twitterx: #333333;
	--facebook: #4867aa;
	--whatsapp: #25d366;

	--overlay: hsla(0, 0%, 0%, 0.75);

	accent-color: var(--accent-primary);
	caret-color: var(--accent-primary);
}

body {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;

	background-color: var(--white);
	color: var(--text);
}

.container {
	width: min(90%, var(--max-width));
	margin-inline: auto;
}

.container-wide {
	width: min(90%, var(--max-width-wide));
	margin-inline: auto;
}

.accent {
	color: var(--accent-primary);
}

h1 {
	font-size: clamp(2.25rem, 4.5vi, 4rem);
}

h2 {
	font-size: clamp(1.75rem, 4vi, 3.5rem);
}
