---
import styles from "./main.module.scss";
import Button from "@components/CTA/Button.astro";
---

<div class={`container ${styles.main}`}>
	<div class={styles.heading}>
		<h1>
			<span class="accent"> Delivering Success</span>, One Package at a
			Time.
		</h1>
	</div>

	<div class={styles.cta}>
		<Button />
	</div>

	<div class={styles.image}>
		<img
			srcset="/main.png 480w, /main-lg.png 800w"
			sizes="(max-width: 500px) 480px, 800px"
			src="/main.png"
			alt=""
		/>
	</div>
</div>
