@use "/src/styles/abstracts" as ab;

.main {
	padding-block-start: 3em;
	display: grid;
	gap: clamp(2em, 4vi, 4em);

	.heading {
		text-align: center;
		text-wrap: balance;
	}

	.cta {
		text-align: center;
	}

	.image {
		img {
			width: 100%;
			object-fit: cover;

			min-height: 18rem;
		}
	}
}
