---
import styles from "./main.module.scss";
---

<div class={styles.main}>
	<div class={styles.heading}>
		<h1>
			<span class="accent"> Delivering Success</span>, One Package at a
			Time.
		</h1>
	</div>

	<div class={styles.image}>
		<img src="/hero.webp" alt="" />
	</div>
</div>
