@use "/src/styles/abstracts" as ab;

.footer {
	--_overlay: hsla(0, 0%, 0%, 0.75);
	overflow: hidden;

	margin-block-start: auto;
	background-image: url("/footer.webp");

	// max-height: 30rem;
	// min-height: 20rem;

	padding-block: clamp(2em, 3.5vi, 3em) 2em;

	background-position: center 20%;
	background-size: cover;
	background-repeat: no-repeat;
	border-image: fill 0 linear-gradient(var(--_overlay), var(--_overlay));

	.container {
		--max-width: 60em;

		color: var(--white);
		display: grid;
		gap: clamp(3em, 4.5vi, 4em);

		transition: translate 200ms;

		@include ab.screen-96 {
			translate: 25%;
		}
	}

	.info {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: clamp(1em, 2.5vi, 2em);

		.item {
			display: grid;
			gap: clamp(0.5em, 1.25vi, 1em);
			align-content: start;

			&[data-last] {
				justify-self: end;
			}

			p,
			a {
				font-size: clamp(0.75rem, 1.5vi, 1rem);
			}

			.address {
				max-inline-size: 22.5rem;
			}

			.title {
				font-size: clamp(0.75rem, 1.75vi, 1.25rem);
			}

			.links {
				display: grid;
				gap: clamp(1.5em, 2.75vi, 2.5em);
			}

			.sitemap {
				list-style-type: none;
				margin: 0;
				padding: 0;

				display: grid;
				gap: clamp(0.25em, 0.75vi, 0.5em);

				@include ab.footer {
					grid-template-columns: repeat(2, 1fr);
				}

				:nth-child(n + 5) {
					display: none;

					@include ab.footer {
						display: block;
					}
				}
			}

			.social {
				display: flex;
				gap: clamp(1em, 1.5vi, 1.25em);

				a {
					--_c: var(--text);
					--_bg: var(--white);

					font-size: clamp(1rem, 2vi, 1.5rem);
					width: clamp(1.5rem, 3vi, 2.5rem);
					aspect-ratio: 1;

					color: var(--_c);
					background-color: var(--_bg);
					border-radius: 50%;

					padding: 0.25em;

					display: flex;
					align-items: center;
					justify-content: center;

					transition: color 300ms, background-color 300ms;

					&:hover {
						--_c: var(--white);
						&.facebook {
							--_bg: var(--facebook);
						}

						&.twitter {
							--_bg: var(--twitterx);
						}

						&.whatsapp {
							--_bg: var(--whatsapp);
						}

						&.linkedin {
							--_bg: var(--linkedin);
						}
					}
				}
			}

			a {
				--_underline: transparent;

				color: var(--white);
				text-decoration-color: var(--_underline);
				text-underline-offset: 5px;

				display: inline-block;

				transition: text-decoration-color 300ms;

				&:hover {
					--_underline: currentColor;
				}
			}
		}
	}

	.copyright {
		font-size: clamp(0.75rem, 1vi, 1rem);
		text-align: center;
		text-wrap: balance;

		@include ab.footer {
			text-align: left;
		}
	}
}
