---
import styles from "./experience.module.scss";
---

<div class={styles.experience}>
	<div class={`container ${styles.container}`}>
		<img src="/client.svg" />

		<img src="/time.svg" />

		<img src="/experience.svg" />

		<img src="/certified.svg" />
	</div>
</div>
